<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style/style.css" media="screen" />
    <meta name="copyright" content="{{ site.url }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ site.description }}" />
    <title>陕北民歌-{% if page.title %}{{ page.title }} | {% endif %}</title>
  </head>

  <body>
  <div id="page" class="background">
    <div id="header">
        <div id="header_menu">
        <ul >
        <!--li><a href="/index.html"> {{ site.blogname }} </a></li-->
        <li><a href="/index.html"> 陕北民歌 </a></li>
        <li><a class="about" href="/">陕北说书</a></li>
        <li><a class="about" href="/">关于本站</a></li>
        <!--li id="header_tools">手机客户端
		<a href="/"><img src="images/apple-32.jpg" width=15 height=15></a>
		<a href="/"><img src="images/android-32.jpg" width=15 height=15></a>
	</li-->
        </ul>
        </div>
    </div>

    <div id="main">
          {{ content }}
    </div>

    <div id="footer">
	<br>
        网站状态：开发和调试中，未正式上线<br>
        网站主旨：推广和分享陕北文化精粹<br>
        网站赞助：Power By Github Page<br>
    </div>

  </body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41275873-1', '3dandan.com');
  ga('send', 'pageview');

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?fd99fe560159e1c6e260b9c552630259";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();


</script>

</div>
</html>
